@import './custom-media.css';

.col-1-start {
  grid-column-start: 1;
}

.col-2-start {
  grid-column-start: 2;
}

.col-3-start {
  grid-column-start: 3;
}

.col-4-start {
  grid-column-start: 4;
}

.col-5-start {
  grid-column-start: 5;
}

.col-6-start {
  grid-column-start: 6;
}

.col-7-start {
  grid-column-start: 7;
}

.col-8-start {
  grid-column-start: 8;
}

.col-1-end {
  grid-column-end: 1;
}

.col-2-end {
  grid-column-end: 2;
}

.col-3-end {
  grid-column-end: 3;
}

.col-4-end {
  grid-column-end: 4;
}

.col-5-end {
  grid-column-end: 5;
}

.col-6-end {
  grid-column-end: 6;
}

.col-7-end {
  grid-column-end: 7;
}

.col-8-end {
  grid-column-end: 8;
}

.col-9-end {
  grid-column-end: 9;
}

.row-1-start {
  grid-row-start: 1;
}

.row-2-start {
  grid-row-start: 2;
}

.row-1-end {
  grid-row-end: 1;
}

.row-2-end {
  grid-row-end: 2;
}

.mainContent {
  display: block;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 63.999rem;
  align-items: center;

  @media (--media-max-medium) {
    display: block;
  }

  @nest & p, & h1, & h2, & h3, & h4, & ul {
    margin: 0 auto;
  }

  @nest & h2, & h3 {
    color: var(--color-text-high-contrast);
  }

  @nest & h2 {
    @media (--media-max-medium) {
      margin-top: 1.5em;
    }
    margin-top: calc(2em + 10vh);
  }

  @nest & h3 {
    margin-top: 2em;
  }

  @nest & h2+p, & h3+p, & h2+h3, & li {
    margin-top: 0.5em;
  }
  @media (--media-min-medium) {
  @nest & li {
    margin-left: 1.5em;
  }
}

  @nest & ul {
    padding: calc(var(--gutter-padding) * 0.5) 0 calc(var(--gutter-padding) * 1) calc(var(--gutter-padding) * 2);
  }

  @nest & p+p {
    margin-top: 0;
  }

  @nest & p, & ul, & h1, & h2, & h3, & h4 {
    max-width: 680px;
  }
}

.mainContent {
  font-size: 1rem;
  /* content-visibility: auto; */

  @media (--media-min-medium) {
    padding: 0 var(--gutter-padding);
    font-size: 1.125rem;
  }
}