@import './custom-media.css';

.col-1-start {
  grid-column-start: 1;
}

.col-2-start {
  grid-column-start: 2;
}

.col-3-start {
  grid-column-start: 3;
}

.col-4-start {
  grid-column-start: 4;
}

.col-5-start {
  grid-column-start: 5;
}

.col-6-start {
  grid-column-start: 6;
}

.col-7-start {
  grid-column-start: 7;
}

.col-8-start {
  grid-column-start: 8;
}

.col-1-end {
  grid-column-end: 1;
}

.col-2-end {
  grid-column-end: 2;
}

.col-3-end {
  grid-column-end: 3;
}

.col-4-end {
  grid-column-end: 4;
}

.col-5-end {
  grid-column-end: 5;
}

.col-6-end {
  grid-column-end: 6;
}

.col-7-end {
  grid-column-end: 7;
}

.col-8-end {
  grid-column-end: 8;
}

.col-9-end {
  grid-column-end: 9;
}

.row-1-start {
  grid-row-start: 1;
}

.row-2-start {
  grid-row-start: 2;
}

.row-1-end {
  grid-row-end: 1;
}

.row-2-end {
  grid-row-end: 2;
}

.mainContent {
  display: block;
  margin: 0 auto;
  max-width: 74.99rem;
  align-items: center;

  @media (--media-max-medium) {
    display: block;
  }

  @nest & p, & h1, & h2, & h3, & h4, & ul {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  @nest & h2, & h3 {
    color: var(--color-text-high-contrast);
  }

  @nest & h2 {
    @media (--media-max-medium) {
      margin: 1.5em 0 0 0;
    }
    margin: calc(2em + 10vh) 0 0 0;
  }

  @nest & h3 {
    margin: 2em 0 0 0;
  }

  @nest & h2+p, & h3+p, & h2+h3 {
    margin-top: 0.5em;
  }

  @nest & ul {
    padding-left: var(--gutter-padding);
  }

  @nest & p+p {
    margin-top: 0;
  }

  @nest & p {
    max-width: 680px;
  }
}

.mainContent {
  font-size: 1.125rem;

  @media (--media-min-medium) {
    padding: 0 var(--gutter-padding);
    font-size: 1.25rem;
  }
}