@import './fonts.css';

:root,
body.light {
  --font-family-sans: "Inria Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-family-serif: "Recoleta", Calisto MT, Bookman Old Style, Bookman, Goudy Old Style, Garamond, Hoefler Text, Bitstream Charter, Georgia, serif;
  --font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* don't reference these */
  --color-black: rgb(29, 34, 37);
  --color-black-rgb: 29, 34, 37;
  --color-white: rgb(255, 255, 255);
  --color-white-rgb: 255, 255, 255;

  /* reference these ones */
  --color-accent: #675ae8;
  --color-background: var(--color-white);
  --color-background-inverted: var(--color-black);
  --color-background-inverted-rgb: 29, 34, 37;
  --color-background-rgb: 255, 255, 255;
  --color-foreground: rgb(242, 242, 242);
  --color-foreground-rgb: 242, 242, 242;
  --color-image-background: rgb(248, 248, 248);
  --color-text: rgba(var(--color-black-rgb), 0.82);
  --color-text-low-contrast: rgba(var(--color-black-rgb), 0.63);
  --color-text-high-contrast: rgba(var(--color-black-rgb), 0.92);
  --color-text-inverted: var(--color-white);
  --color-border: rgba(var(--color-black-rgb), 0.1);

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem);
  /* 10px */
  --font-micro-line-height: calc(12 / 10);
  /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem);
  /* 14px */
  --font-small-line-height: calc(21 / 14);
  /* 21px */
  --font-base-size: 1em;
  /* 16px */
  --font-base-line-height: calc(24 / var(--unit));
  /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem);
  /* 18px */
  --font-large-line-height: calc(27 / 18);
  /* 27px */
  --font-title3-size: calc(21 / var(--unit) * 1rem);
  /* 21px */
  --font-title3-line-height: calc(30 / 21);
  /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem);
  /* 24px */
  --font-title2-line-height: calc(33 / 24);
  /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem);
  /* 49px */
  --font-title1-line-height: calc(57 / 49);
  /* 57px */

  --border-radius: calc(16 / var(--unit) * 1rem);
}

body.dark {
  --color-background: var(--color-black);
  --color-background-rgb: var(--color-black-rgb);
  --color-background-inverted: var(--color-white);
  --color-background-inverted-rgb: var(--color-white-rgb);
  --color-foreground: rgb(44, 52, 60);
  --color-foreground-rgb: 44, 52, 60;
  --color-image-background: rgb(37, 43, 49);
  --color-border: rgba(var(--color-white-rgb), 0.1);
  --color-accent: #857bed;
  --color-text-low-contrast: rgba(var(--color-white-rgb), 0.6);
  --color-text: rgba(var(--color-white-rgb), 0.8);
  --color-text-high-contrast: rgba(var(--color-white-rgb), 0.95);
  --color-text-inverted: var(--color-black);
}