@import './custom-properties.css';
@import './custom-media.css';

button {
  all: unset;
}

.button {
  display: flex;
  height: 2em;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  background: var(--color-foreground);
  padding: 0.5rem 1.5rem;
  border-radius: calc(var(--border-radius) * 2);
  text-decoration: none;
  font-size: var(--font-small);
  font-weight: bold;
  transition: .15s ease all;

  &:hover {
    box-shadow: none;
    border-radius: calc(var(--border-radius) * 2);
    background: var(--color-background-inverted);
    color: var(--color-text-inverted);
  }

  &:active {
    background: var(--color-text-low-contrast);
  }
}

.button-alt {
  background: var(--color-background);
}

.link,
.special a {
  color: var(--color-text-low-contrast);
  line-height: 1.5;
  position: relative;
  text-decoration: underline;
  transition: .15s ease all;
  padding: 0.25em;
  margin: -0.25em;
  border-radius: 0.375em;

  @nest &:visited {
    color: var(--color-text-low-contrast);
  }

  @nest &:hover {
    color: var(--color-text-high-contrast);
    background: rgba(var(--color-background-inverted-rgb), 0.15);
    text-decoration: none;
  }
}

.center-v {
  align-items: center;
}

.padding-h {
  padding-left: 2em;
  padding-right: 2em;
}

.light-boi {
  background: var(--color-foreground);
  position: relative;
}

.tl-edges {
  overflow: visible;
}

footer ul {
  @media (--media-min-medium) {
    text-align: right;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

img {
  border-radius: var(--border-radius);
}

ul {
  margin: 0;
  padding: 0;
}

.headline {
  font-size: var(--font-title3-size);

  @media (--media-min-small) {
    font-size: var(--font-title2-size);
  }
  /* @nest & a {
        color: var(--color-text-low-contrast);
        border-color: var(--color-text-low-contrast);
    } */
}

section,
footer {
  padding: 5rem 1rem;

  @media (--media-max-medium) {
    padding: 2.5rem 1rem;
  }
}

footer > div {
  grid-row-gap: 0 !important;
}

article {
  @media (--media-max-medium) {
    padding: 0 1rem;
  }
}

/* Dark Mode Toggle Styles */

.input_wrapper {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 1em;
  border-radius: 2em;
  margin-top: 0.5em;
  transition: .2s ease-in-out background;

  @media (--media-min-medium) {
    /* justify-content: flex-end;
        width: 100%; */
    float: right;
    margin-right: -0.5em;
  }

  @media (--media-max-medium) {
    margin-left: -1em;
  }

  &:hover {
    background: var(--color-background);
  }
}

.input_wrapper .input_label {
  padding-right: 1em;
}

.input_wrapper input[type="checkbox"]+.input_toggle {
  width: 6em;
  height: 2.8em;
  cursor: pointer;
  background: var(--color-text-low-contrast);
  border-radius: 4em;
  position: relative;
  outline: 0;
  transition: all .2s;
  display: flex;
  font-size: 10px;
}

.input_wrapper input[type="checkbox"]+.input_toggle:after {
  position: absolute;
  content: "";
  top: 0.4em;
  left: 0.4em;
  width: 2em;
  height: 2em;
  background: var(--color-background);
  z-index: 2;
  border-radius: 5em;
  transition: all .35s;
}

.input_wrapper svg {
  position: absolute;
  top: 0.9em;
  transform-origin: 50% 50%;
  transition: all .35s;
  z-index: 1;
}

.input_wrapper .is_checked {
  width: 2.4em;
  left: 0.7em;
  transform: translateX(100%) translateY(-30%) scale(0);
  opacity: 0;
}

.input_wrapper .is_unchecked {
  width: 2.4em;
  right: 0.7em;
  transform: translateX(0) translateY(-30%) scale(1);
  opacity: 1;
}

/* Checked State */

.input_wrapper input[type="checkbox"]:checked+.input_toggle {
  background: var(--color-accent);
}

.input_wrapper input[type="checkbox"]:checked+.input_toggle:after {
  left: calc(100% - 0.4em);
  transform: translateX(-100%);
  background: var(--color-background-inverted);
}

.input_wrapper input[type="checkbox"]:active+.input_toggle:after {
  width: 2.6em;
}

.input_wrapper input[type="checkbox"]:checked+.input_toggle .is_checked {
  transform: translateX(0) translateY(-30%) scale(1);
  opacity: 1;
}

.input_wrapper input[type="checkbox"]:checked~.input_toggle .is_unchecked {
  transform: translateX(-100%) translateY(-30%) scale(0);
  opacity: 0;
}

/* mimic browser focus state */

.input_wrapper input[type="checkbox"]:focus+.input_toggle {
  outline: auto;
  outline: -webkit-focus-ring-color auto 5px;
}

.input_wrapper input[type="checkbox"]:hover+.input_toggle {
  outline: none;
}

.project-header {
  font-size: 1.25em;

  @nest & div {
    grid-row-gap: 8px;
  }

  @media (--media-min-medium) {
    margin: 0 16px;
  }
  margin-top: 3em;
}

.project-header-caption {
  color: var(--color-text-low-contrast);
  font-size: 0.75em;
  display: block;

  @media (--media-max-medium) {
    margin-top: 1em;
  }
}

.headroom {
  z-index: 100 !important;
  padding: 0;
  transition: background 0.2s ease-in-out 0s, box-shadow 0.15s ease-in-out;

  @nest & a {
    transition: .15s ease background, .15s ease color;
    color: var(--color-text-low-contrast);

    &:hover {
      color: rgba(var(--color-background-inverted-rgb), 0.5);

      &:after {
        background: rgba(var(--color-background-inverted-rgb), 0.1);
      }
    }

    &:active {
      color: rgba(var(--color-background-inverted-rgb), 0.7);

      &:after {
        background: rgba(var(--color-background-inverted-rgb), 0.2);
      }
    }
  }
  position: relative;

  /* & ul:after {
    background: rgba(var(--color-background-inverted-rgb), 0.05);
    height: 0.125em;
    border-radius: var(--border-radius);
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    position: absolute;
    z-index: -1;
  } */
}

.headroom--pinned {
  background: rgba(var(--color-background-rgb), 0.8);
  padding: 0;
  background: var(--color-foreground);
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.25);

  /* &:after {
    background: rgba(var(--color-background-inverted-rgb), 0.05);
    height: 0.125em;
    border-radius: var(--border-radius);
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    position: absolute;
    z-index: -1;
  } */
  & ul:after {
      display: none;
  }
}

.active-page {
  color: var(--text-high-contrast) !important;

  &:after {
    background: var(--color-background-inverted) !important;
  }
}

.z-index {
  z-index: 2;
}

img {
  background: var(--color-image-background);
}