@import './custom-properties.css';
@import './custom-media.css';
button {
    all: unset;
}

.link, .special a {
    color: var(--color-text-low-contrast);
    line-height: 1.5;
    position: relative;
    text-decoration: underline;
    transition: .1s ease all;
    padding: 0.25em;
    margin: -0.25em;
    border-radius: 0.375em;
    @nest &:visited {
        color: var(--color-text-low-contrast);
    }
    @nest &:hover {
        color: var(--color-text-inverted);
        background: var(--color-background-inverted);
        border-color: var(--color-background-inverted);
        text-decoration: none;
    }
}

.center-v {
    align-items: center;
}

.padding-h {
    padding-left: 2em;
    padding-right: 2em;
}

.light-boi {
    background: var(--color-foreground);
    position: relative;
}

.tl-edges {
    overflow: visible;
}

footer ul {
    @media(--media-min-medium) {
        text-align: right;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

img {
    border-radius: var(--border-radius);
}

ul {
    margin: 0;
    padding: 0;
}

.headline {
    font-size: var(--font-title3-size);
    @media (--media-min-small) {
        font-size: var(--font-title2-size);
    }
    /* @nest & a {
        color: var(--color-text-low-contrast);
        border-color: var(--color-text-low-contrast);
    } */
}

section, footer {
    padding: 80px 16px;
    @media (--media-max-medium) {
        padding: 40px 16px;
    }
}

article {
    @media (--media-max-medium) {
        padding: 0 16px;
    }
}

/* Dark Mode Toggle Styles */

.input_wrapper {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 2em;
    margin-top: 0.5em;
    transition: .2s ease-in-out background;
    @media(--media-min-medium) {
        /* justify-content: flex-end;
        width: 100%; */
        float: right;
        margin-right: -0.5em;
    }
    @media(--media-max-medium) {
        margin-left: -1em;
    }
    &:hover {
        background: var(--color-background);
    }
}

.input_wrapper .input_label {
    padding-right: 1em;
}

.input_wrapper input[type="checkbox"]+.input_toggle {
    width: 6em;
    height: 2.8em;
    cursor: pointer;
    background: var(--color-text-low-contrast);
    border-radius: 4em;
    position: relative;
    outline: 0;
    transition: all .2s;
    display: flex;
    font-size: 10px;
}

.input_wrapper input[type="checkbox"]+.input_toggle:after {
    position: absolute;
    content: "";
    top: 0.4em;
    left: 0.4em;
    width: 2em;
    height: 2em;
    background: var(--color-background);
    z-index: 2;
    border-radius: 5em;
    transition: all .35s;
}

.input_wrapper svg {
    position: absolute;
    top: 0.9em;
    transform-origin: 50% 50%;
    transition: all .35s;
    z-index: 1;
}

.input_wrapper .is_checked {
    width: 2.4em;
    left: 0.7em;
    transform: translateX(100%) translateY(-30%) scale(0);
    opacity: 0;
}

.input_wrapper .is_unchecked {
    width: 2.4em;
    right: 0.7em;
    transform: translateX(0) translateY(-30%) scale(1);
    opacity: 1;
}

/* Checked State */

.input_wrapper input[type="checkbox"]:checked+.input_toggle {
    background: var(--color-accent);
}

.input_wrapper input[type="checkbox"]:checked+.input_toggle:after {
    left: calc(100% - 0.4em);
    transform: translateX(-100%);
    background: var(--color-background-inverted);
}

.input_wrapper input[type="checkbox"]:active+.input_toggle:after {
    width: 2.6em;
}

.input_wrapper input[type="checkbox"]:checked+.input_toggle .is_checked {
    transform: translateX(0) translateY(-30%) scale(1);
    opacity: 1;
}

.input_wrapper input[type="checkbox"]:checked~.input_toggle .is_unchecked {
    transform: translateX(-100%) translateY(-30%) scale(0);
    opacity: 0;
}

/* mimic browser focus state */

.input_wrapper input[type="checkbox"]:focus+.input_toggle {
    outline: auto;
    outline: -webkit-focus-ring-color auto 5px;
}

.input_wrapper input[type="checkbox"]:hover+.input_toggle {
    outline: none;
}

.project-header {
    font-size: 1.25em;
    @nest & div {
        grid-row-gap: 8px;
    }
    @media (--media-min-medium) {
        margin: 0 16px;
    }
    margin-top: 3em;
}

.project-header-caption {
    color: var(--color-text-low-contrast);
    font-size: 0.75em;
    display: block;
    @media (--media-max-medium) {
        margin-top: 1em;
    }
}

.headroom {
    z-index: 100 !important;
    padding: 0.5em 16px;
    @media (--media-min-medium) {
        padding: 2em 0;
    }
}

.headroom--pinned {
    background: rgba(var(--color-background-rgb), 0.8);
    backdrop-filter: blur(0.5em);
    @media (--media-min-medium) {
        background: var(--color-foreground);
    }
    padding: 0.5em 16px;
}