@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
.image {
    display: block;
    margin: 15% auto;
    width: 80%;
    /* border-radius: 1rem; */
    @media (--media-min-small) {
        margin: 0 auto;
        margin-right: 0;
        width: 40%;
    }
}

h3 span {
    margin-bottom: 0.5em;
    display: inline-block;
}