@import '../styles/custom-properties.css';
.button {
    display: flex;
    height: 2em;
    align-items: center;
    color: var(--color-text);
    background: var(--color-foreground);
    padding: 0.5rem 1.5rem;
    border-radius: calc(var(--border-radius) * 2);
    text-decoration: none;
    font-size: var(--font-small);
    font-weight: bold;
    &:hover {
        box-shadow: none;
        border-radius: calc(var(--border-radius) * 2);
        background: var(--color-background-inverted);
        color: var(--color-text-inverted);
    }
    &:active {
        background: var(--color-text-low-contrast);
    }
}