@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
.root {
  @media (hover: hover) {
    @nest & a:hover, button:hover {
      color: var(--color-text);
    }
  }
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  align-items: center;
  @media (--media-min-extralarge) {
    max-width: 1150px;
  }
  @media (--media-max-medium) {
    padding: 0 var(--gutter-padding);
  }
}

.logo {
  flex: 1;
  @nest & a {
    display: inline-flex;
    color: var(--color-text-high-contrast) !important;
    text-decoration: none;
    border: none;
    padding: 1em;
    position: relative;
    transition: 0.15s ease all;
    &:hover {
      box-shadow: none;
    }
    & svg {
      position: relative;
    }
    &:after {
      content: '';
      position: absolute;
      background: transparent;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 100%;
      transition: 0.15s ease all;
      transform: scale(0.5);
    }
    &:hover:after {
      transform: scale(0.85);
      background: rgba(var(--color-background-inverted-rgb), 0.05);
    }
    &:active:after {
      transform: scale(0.75);
    }
  }
}

.nav {
  height: 100%;
  display: block;
  position: relative;
  @nest & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    position: relative;
  }
  @nest & li {
    position: relative;
  }
  @nest & ul li a {
    display: block;
    text-decoration: none;
    height: 100%;
    position: relative;
    &:hover {
      box-shadow: none;
    }
  }
}

.projectNav {
  display: none;
  position: absolute;
  left: calc(-1 * var(--gutter-padding));
  left: 50%;
  top: 80%;
  z-index: 10;
  background: var(--color-foreground);
  padding: calc(var(--gutter-padding) / 2) 0;
  border-radius: calc(var(--border-radius) / 2);
  box-shadow: 0 0 1.5em rgba(var(--color-background-rgb), 0.58);
  transition: .2s ease all;
  @nest & ul {
    flex-wrap: wrap;
    @nest & li {
      min-width: 13rem;
      display: block;
      @nest & a {
        padding: calc(var(--gutter-padding) / 2) var(--gutter-padding);
      }
      @nest & a:hover {
        background: var(--color-image-background);
      }
    }
  }
}
.projectToggle {
  align-items: center;
  display: flex;
  &:hover {
    cursor: pointer;
  }
  &:after {
    display: none !important;
  }
}

.showNav {
  display: flex;
  animation-duration: 0.2s;
  animation-name: var(--projects-menu);
  animation-timing-function: ease;
  transform: translateY(0) translateX(-50%) scale(1);
  transform-origin: 50% -50px;
}
:root {
  --projects-menu: apple;
}
@keyframes apple {
  0% {
    transform: translateY(-5%) translateX(-50%) scale(0.5);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%) scale(1);
  }
}