@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
.root {
  position: relative;
  z-index: 100;
  position: sticky;
  top: 0;
  /* background: var(--color-navigation); */
  /* border-bottom: 0.0625rem solid var(--color-border-header); */
  background: rgba(var(--color-background-rgb), 0.9);
  /* color: var(--color-text-light); */
  backdrop-filter: blur(0.5em);
  @media (hover: hover) {
    @nest & a:hover {
      color: var(--color-white);
      background: var(--color-black);
    }
  }
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 0.5em;
  display: flex;
  @media (--media-min-small) {
    padding: 1em;
  }
}

.branding {
  /* font-weight: 600; */
  flex: 1;
  @nest & a {
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    color: var(--color-text-dark);
    text-decoration: none;
    border: none;
    /* transition: all 0.1s ease-in 0s; */
  }
}

.toggleNavButton {
  /* appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;

  & svg {
    display: block;
    fill: inherit;
  } */
  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  display: none;
  @nest & ul {
    margin: 0;
    padding: 0;
  }
  @nest & ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
    margin-left: 1rem;
    /* transition: all 0.1s ease-in 0s; */
    border-bottom: 1px solid var(--color-black);
  }
  @nest & ul li a:after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  /* @media (hover: hover) {
    @nest & ul li a:hover {
      color: var(--color-accent);
    }
  } */
  @media (--media-max-small) {
    position: absolute;
    /* background: var(--color-background); */
    background: rgba(var(--color-background-rgb), 1);
    /* color: var(--color-text-light); */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); */
    border-top: 0.0625rem solid var(--color-border);
    border-bottom: 0.0625rem solid var(--color-border);
    left: 0;
    right: 0;
    top: 3.6rem;
    @nest & ul {
      padding: 1.5rem 0;
    }
    @nest & ul li a {
      padding: 1rem 1.5rem;
      margin: 0;
      border: none;
    }
  }
  @media (--media-min-small) {
    display: block;
    @nest & ul {
      list-style: none;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: flex-end;
    }
    @nest & ul li a {
      padding: 0.4rem 1rem;
      border: none;
    }
  }
}

.showNav {
  display: block;
}