@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  @media (hover: hover) {
    @nest & a:hover {
      color: var(--color-text);
    }
  }
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  align-items: center;

  @media (--media-min-extralarge) {
    max-width: 1150px;
  }

  @media (--media-max-medium) {
    padding: 0 1em;
  }
}

.logo {
  flex: 1;

  @nest & a {
    display: inline-flex;
    color: var(--color-text-high-contrast) !important;
    text-decoration: none;
    border: none;
    padding: 1em;
    position: relative;
    transition: 0.15s ease all;

    &:hover {
      box-shadow: none;
    }

    &:after {
      content: '';
      position: absolute;
      background: transparent;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 100%;
      transition: 0.15s ease all;
      transform: scale(0.5);
    }

    &:hover:after {
      transform: scale(0.85);
      background: rgba(var(--color-background-inverted-rgb), 0.05);
    }

    &:active:after {
      transform: scale(0.75);
    }
  }
}

.nav {
  font-weight: bold;
  height: 100%;
  display: block;

  @nest & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    position: relative;
  }

  @nest & ul li a {
    display: block;
    text-decoration: none;
    padding: 1.5em 2em;
    height: 100%;
    position: relative;

    &:hover {
      box-shadow: none;
    }

    &:after {
      transition: 0.25s ease all;
      background: transparent;
      height: 0;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      /* width: 45%; */
      bottom: 0;
      /* left: 27.5%;
      right: 0; */
      content: '';
      position: absolute;
    }

    &:after {
      left: 51%;
      right: 51%;
    }
  }
}