@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';

.hero {  
    color: var(--color-text-high-contrast);
    font-weight: 400;
    line-height: 1.1;
    font-size: 2.125em;
    margin: 0 auto;
    padding: calc(1em + 10vh) 2rem;
    max-width: 1450px; 
    max-height: 880px;
    @media (--media-min-small) {
        font-size: 3em;
    }
    @media (--media-min-medium) {
        font-size: 3.5em;
    }
    @media (--media-min-extralarge) {
        font-size: 4.25em;
        padding: calc(2em + 9vh) 2rem;
    }
}