@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';

.root {
  --large-image-gutter: calc(var(--gutter-padding * 2));
  width: calc(100vw - var(--large-image-gutter));
  padding: 0;
  margin: 0;

  @media (--media-min-extralarge) {
    width: 100vw;
    transform: translateX(calc((1152px - 100vw)/2));

    @nest & img {
      border-radius: 0;
    }
  }
}