@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
.content {
  background: var(--color-background);
  min-height: calc(100% - 226px - 72px);
  @media (--media-min-small) {
    min-height: calc(100% - 290px - 88px);
  }
}

.footer {
  display: flex;
  padding: 2rem 0;
  @media (--media-min-small) {
    padding: 4rem 0;
  }
  @nest & a {
    display: inline-block;
    text-align: center;
  }
  @nest & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  @nest & li {
    margin: 1rem 0;
  }
}

.footerWrapper {
  background: var(--color-foreground);
  color: var(--color-text);
  padding: 0 1em;
  @media (--media-min-small) {
    padding: 0 2em;
    margin-bottom: 2em;
    border-radius: var(--border-radius);
  }
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  text-align: center;
  font-size: var(--font-micro-size);
  @nest & a {
    font-size: var(--font-micro-size);
    text-decoration: underline;
  }
  line-height: var(--font-small-line-height);
}

.center {
  font-size: 200%;
  color: yellow;
  background: green;
}