@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  margin: 2em 0 2em;

  @media (--media-min-medium) {
    margin: 2em 0 10em;
  }
  padding: 0 1em;
}

.grid {
  margin: 0;
  padding: 3rem 0;

  @media (--media-min-small) {
    padding: 1rem;
  }
  list-style: none;

  @nest & a {
    padding: 3rem;
    border-radius: var(--border-radius);
    position: relative;

    &:hover {
      background: var(--color-foreground);
      transform: scale(1.03);
    }

    &:active {
      background: rgba(var(--color-foreground-rgb), 0.5);
      transform: scale(1);
    }
  }
  position: relative;

  @nest & li:not(:last-of-type) a {
    &:after {
      content: '';
      background-color: var(--color-foreground);
      height: 1px;
      width: 80%;
      display: block;
      bottom: 0;
      position: absolute;
      z-index: 3;
      transition: .15s ease all;
    }

    &:hover:after {
      background-color: transparent;
    }
  }

  @nest & li:first-of-type {
    @nest & a {
      display: block;
    }

    @nest & div:first-child {
      @media (--media-min-medium) {
        min-width: 100%;
        max-height: 24rem;
      }
    }

    @nest & div:nth-child(2) {
      margin-left: 0;
    }

    @nest & h2 {
      @media (--media-min-medium) {
        margin-top: 2rem;
      }
    }

    @nest & img {
      /* transform: scale(0.5); */
    }
  }

  @media (--media-max-medium) {
    @nest & li a {
      display: block;
      padding: 1em 1em 3em 1em;

      & h2 {
        margin-top: 1rem;
      }

      &:after {
        display: none !important;
      }
    }
  }
}