@import '../styles/custom-media.css';

.root {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in 0s;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0.25rem 0.5rem;
  border-radius: 1rem;
  background: var(--color-card);
  @nest &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.5rem 1.5rem;
    @nest & p {
      color: var(--color-text);
    }
    @nest & img {
      transform: scale(1.05);
    }
  }
  @nest &:active {
    box-shadow: rgba(0,0,0,0.1) 0 0 0.25rem;
    @nest & img {
      transform: scale(1.0);
    }
  }
  @media (--media-max-small) {
    transition: all 0.15s ease-in 0s;
    @nest &:hover, &:active {
      transform: scale(0.97);
      box-shadow: rgba(0,0,0,0.1) 0 0 0.25rem;
      @nest & img {
        transform: scale(1);
      }
    }
    
  }
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
}

.leadMediaThumb {
  position: relative;
  padding-bottom: 66.666%;
  background: var(--color-navigation);
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    transition: all 0.2s ease-in;
    /* border: 0.125rem solid var(--color-border); */
  }
}

/* .title {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline; 
    }
  }
} */

.excerpt {
  color: var(--color-text-light);
  @nest & p {
    margin: 0.5em 0;
    transition: all 0.2s ease-in 0s;
  }

  @nest & strong {
    font-weight: 600;
  }
}
.cardBottom {
  padding: 0 1.5rem 1rem 1.5rem;
}