@import '../styles/custom-media.css';

.social li {
  display: inline-block;
  margin-top: 1em;
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
}

.root {
  position: relative;
  background: var(--color-image-background);
  top: -6.5rem;
  margin-bottom: -6.5rem;
  padding-top: calc(6vh + 5rem);
  /* @media (--media-max-large) {
    margin-bottom: 0;
  } */
  & > div {
    @media (--media-max-large) {
      display: block;
      padding: 0;
    }
  }
}