@import '../styles/custom-media.css';

.social li {
  display: inline-block;
  margin-top: 1em;
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
}

.root {
  & > div {
    @media (--media-max-large) {
      display: block;
      padding: 0;
    }
  }
}